@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body 
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : #2c2727;
    /* height: 100vh; */
}

html
{
    box-sizing: border-box;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}

#parent 
{
    border: 1px solid black;
    margin: 39px auto;
    width: 633px;
    border-radius: 27px;
    background-color: whitesmoke;
}

                    /* SEARCH BAR SECTION */
#searchBar
{
    /* border: 1px solid red; */
    /* background-color: antiquewhite; */
    height: 52px;
    margin: 0px 0px 0px 51px;
}

.textArea{
    position: relative;
    padding-left: 31px;
    padding-top: 6px;
    background-color: black;
    height: 31px;
    width: 220px;
    border: none;
    border-radius: 23px;
    color: whitesmoke;
    margin: 12px 0px 0px 0px;

}
.textArea::placeholder
{
    color: wheat;
    font-size: 17px;
}

.searchIcon{
    position: absolute;
    z-index: 1;
    color: white;
    margin: 19px 0px 0px 8px;
}
    

    
                    /* WEATHER DETAILS SECTION */
#WeatherDetails
{
    /* background-color: rgb(43, 226, 177); */
    margin: 30px 40px 40px 59px;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.currentDate
{
    margin-bottom: 0px;
}
.currentWeather
{
    background-color: black;
    width: 60px;
    text-align: center;
    height: 32px;
    border-radius: 23px;
    padding-top: 7px;
    margin: 3px 0px 8px 0px;
    font-size: 16px;
    color: white;
}
.desiredLocation
{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0px;
}

#WeatherDetails p 
{
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.minTemp
{
    margin-right: 23px;
}

                     /* BOTTOM SECTION */

#weatherDetailsExtras
{
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: wrap;
}
.cards
{
    width: 293px;
    margin: 9px 0px 13px 15px;
    border-radius: 16px;
    box-shadow: 5px 5px 15px #608b0d;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.cards i 
{
    font-size: 30px;
    margin: 13px;
}