html 
{
    box-sizing: border-box;
}
* ,  *::before , *::before 
{
    box-sizing: inherit;
}

/* #for_decoration_border
{
    border: 2px solid red;
    width: 700px;
    height: 400px;
} */

#outline 
{
    width: 700px;
    height: 400px;
    border: 2px solid black;
    margin: 100px auto;
    position: relative;
    background-color: white;
}

#paddleLeft , #paddleRight
{
    width: 13px;
    height: 100px;
    background-color: rgb(189, 62, 62);
    margin-left: 3px;
    position: absolute;
}
#paddleRight
{
    width: 13px;
    height: 100px;
    background-color: rgb(189, 62, 62);
    position: absolute;
    left : 677px;
}

#ball
{
    width: 20px;
    height: 20px;
    background-color: rebeccapurple;
    border-radius: 50%;
    position: absolute;
}