.parent_container
{
    /* background-color: var(--bluish_grey); */
    margin-top: 34px;
}

.allProd2
{
    margin-bottom: 60px;
}
.sideBar
{
    /* background-color: rgb(9, 219, 222); */
    width: 251px;
}
.sideBar h2 
{
    margin-bottom: 13px;
}
.categoryList a
{   color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
    text-align: center;
    background-color: var(--just_for_checking_bg);
    font-size: 1.3rem;
    line-height: 42px;
}

/* .child_filter
{
    background-color: blueviolet;
} */
.form-select
{
    flex-basis: 49%;
}
.buttons
{
    width: 100%;
    margin-top: 16px;
}

.sideBar h2 , .searchbar , .categoryList > h3
{
    margin-bottom: 13px;
}

.filter_parent p
{
    margin:12px 0px 12px 0px;
    font-weight: bold;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* PRODUCT LIST CARD BEGINS */

.prod_img_card
{
    /* background-color: chartreuse; */
    flex-basis: 70%;
}
/* .cards
{
    background-color: rgb(19, 88, 225);
} */
.cards a 
{
    text-decoration: none;
}

.prod_card
{
    /* background-color: rgb(222, 0, 41); */
    display: inline-block;
    width: 28%;
    margin: 23px 5px 10px 15px;
    border: 2px solid var(--ghost_white);
    border-radius: 10%;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow 0.1s linear;
    text-decoration: none;
    height: 331px;
}
.prod_card:hover
{
    box-shadow: 2px 2px 4px black;
}

.image_holder
{
    /* background-color: orange; */
    width: 82%;
    margin: 30px auto;
    height: 56%;
}
.image_holder img
{
    width: 100%;
    height: 100%;
}

/* .cards img 
{
    width: 100%;
    padding: 27px 27px 0px 27px;
    height: 245px;
} */

.someProd , .price
{
    font-size: 1.3rem;
    margin: 5px 0px 0px 8px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
    text-align: center;
}