html 
{
    box-sizing: border-box;
}
* , *::before , *::after
{
    box-sizing: inherit;
}
body 
{
    margin: 0;
    padding: 0;
}
:root 
{
    --for_area_covered:blue;
    --bluish_grey:#9fb3d4;
    --nav_other_options:#000000bf;
    --just_for_checking_bg:#2be89377;
    --for_area_covered:blue;
    --nav_other_options:#000000bf;
    --just_for_checking_bg:#2be89377;
    --jean_color:#525a69;
    --orange_red_medius:#e8546a;
    --cordovan:#8D4250;
    --dark_golderRod:#B37D00;
    --tropical_indigo:#A99AEA;
    --ghost_white:#ced7f5;
}
.loaderParent 
{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(35, 23, 30, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.spinner 
{
    width: 200px;
    height: 200px;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(240, 231, 231) rgb(128, 174, 218);
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}

@keyframes rotate 
{
    0%
    {
        /* width: 200px;
        height: 200px; */
        rotate: 0deg;
    }
    50%{
        /* width: 400px;
        height: 400px; */
        rotate: 180deg;
    }
    100% 
    {
        /* width: 200px;
        height: 200px; */
        rotate: 360deg;
    }
}
#header
{
    padding: 12px 109px 12px 130px;
    background-color: var(--bluish_grey);
    position: sticky;
    top:0px;
    z-index: 1;
}
.logo h3 
{
    font-size:2.4rem;
    letter-spacing: 4px;
}

.other_options
{
    margin:12px 0px 0px 0px;
    gap:25px;
}
.other_options a
{
    font-size: 1.3rem;
    color:var(--nav_other_options);
}
#lg_out
{
    margin-left:32px;
}


/* Styling for loader  */

